In [1]:
import pandas as pd
islands_table = pd.read_csv('tables/islands.csv', sep=';')
islands_table

   name_en;name_ger;waters;area_in_km2;state;svg_name;svg_status
0   Alexander Island;Alexander-I.-Insel;Bellingsha...
1   Axel Heiberg Island;Axel Heiberg Island;Arktis...
2   Baffin Island;Baffininsel;Nordatlantik/Arktisc...
3   Bali;Bali;Indischer Ozean;5.561;Indonesien;Bal...
4   Banks Island;Banksinsel;Arktischer Ozean;70.02...
..                                                ...
64  Tenerife;Teneriffa;Atlantischer Ozean;2.034;Sp...
65  Tierra del Fuego;Feuerland;Südatlantik;47.992;...
66  Timor;Timor;Indischer Ozean;28.418;Indonesien/...
67  Vancouver Island;Vancouver Island;Pazifischer ...
68  Victoria Island;Victoria-Insel;Arktischer Ozea...

[69 rows x 1 columns]